{% extends 'AppBundle::base.html.twig' %}
{% block title %}Index Page{% endblock title %}
{% block body %}

    {% if message is defined %}
        <div class="success">{{ message }}</div>
    {% endif %}
    <h2 class="page-header">Registered Users</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Avatar</th>
            <th>Name</th>
            <th>Login</th>
            <th>Email</th>
            <th style="width: 80px;">Actions</th>
        </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td scope="row">{{ user['id'] }}</td>
                <td><a href="{{ user['linkAvatar'] }}" target="_blank"><img style="width:50px;height: 50px;"
                                                                            src="{{ user['linkAvatar'] }}"></a></td>
                <td>{{ user['name'] }}</td>
                <td>{{ user['login'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>
                    <a href="{{ path('details', {'id': user['id']}) }}" class="btn btn-info">details</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(users) }}

    </div>
    <a href="{{ path('create_new') }}" class="btn btn-success">CREATE</a>
{% endblock body %}
